<h1>Sign In</h1>




<form action="/verify_credentials" method="post">
  <div>
    <label for="username_box">Username</label>
    <input id="username_box" name="input_username" placeholder="Choose a username..." type="text">
  </div>

  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="input_password" placeholder="Choose a password..." type="password">
  </div>

  <button>
    Sign in
  </button>
</form>