<div class="jumbotron text-center bg-dark text-white">
  <h1>Welcome and Sign In </h1>
  <p></p> 
</div>





<form action="/verify_credentials" method="post">
  <div class="text-center ">
    <label for="username_box">Username</label>
    <input id="username_box" name="input_username" placeholder="Choose a username..." type="text">
  </div>

  <div class="text-center">
    <label for="password_box">Password</label>
    <input id="password_box" name="input_password" placeholder="Choose a password..." type="password">
  </div>

  <div class="text-center">
  <button>
    Sign In
  </button>
  </div>
</form>